{{define "client/about.html"}}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="xxxxx">
    <meta name="kewords" content="Python,Js,HTML....">
    <title>GolangBoy | {{.artTitle}}</title>
    <meta name="apple-mobile-web-app-title" content="个人博客网站">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!--
    设置icon
    <link rel="shortcut icon" href="http://static.html580.com/assets/images/favicon.ico">
    -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="个人博客网站">
    <!--<link rel="apple-touch-icon-precomposed" href="http://static.html580.com/assets/images/favicon.ico">-->

    <link href="/static/libs/bootstrap/css/bootstrap.css" rel="stylesheet"
          type="text/css">
    <link href="/static/css/site.css" rel="stylesheet" type="text/css">
    <link href="/static/libs/font-awesome/css/font-awesome.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="/static/libs/editor-md/css/editormd.css">

    <link rel="stylesheet" href="/static/libs/editor-md/css/editormd.preview.css"/>

</head>
<body>

{{template "client/navbar.html" .}}
<!--博客导航结束-->


<div class="main">
    <div class="container">
        <div class="row">

            <div id="content" class="col-sm-9 box1">
                <div class="article-details-title">
                    <h3>{{.artTitle}}</h3>
                </div>
                <div class="article-details-body">
                    <div id="editormd-view">
                        <textarea style="display:none;" name="editormd-markdown-doc"></textarea>
                    </div>
                </div>
            </div>

        {{template "client/right.html" .}}
        </div>
    </div>
</div>

{{template "client/footer.html" .}}

<script src="/static/libs/editor-md/lib/marked.min.js"></script>
<script src="/static/libs/editor-md/lib/prettify.min.js"></script>

<script src="/static/libs/editor-md/lib/raphael.min.js"></script>
<script src="/static/libs/editor-md/lib/underscore.min.js"></script>
<script src="/static/libs/editor-md/lib/sequence-diagram.min.js"></script>
<script src="/static/libs/editor-md/lib/flowchart.min.js"></script>
<script src="/static/libs/editor-md/lib/jquery.flowchart.min.js"></script>
<script src="/static/libs/editor-md/editormd.js"></script>

<script type="text/javascript">
    $(function () {
        var gdLiCount = $("#article-gd ul li").length;
        if (gdLiCount > 9) {
            $('#gdBoxDown').removeClass('hidden');
            var a = $("#article-gd ul li:gt(9)");
            a.hide();
            $("#gdBoxDown").click(function () {
                if (a.is(':visible')) {
                    a.slideUp('fast');
                    $(this).removeClass('up');
                    $('#gdBoxDown span').text('展开');
                    $('#gdBoxDown  b').removeClass('caret-down');
                    $('#gdBoxDown  b').addClass('caret');


                } else {
                    a.slideDown('fast').show();
                    $(this).addClass('up');
                    $('#gdBoxDown span').text('收起');
                    $('#gdBoxDown  b').removeClass('caret');
                    $('#gdBoxDown  b').addClass('caret-down');
                }
            });
        }

    });
    $(function () {
        var flLiCount = $("#article-fl ul li").length;

        if (flLiCount > 10) {
            $('#flBoxDown').removeClass('hidden');
            var a = $("#article-fl ul li:gt(9)");
            a.hide();
            $("#flBoxDown").click(function () {
                if (a.is(':visible')) {
                    a.slideUp('fast');
                    $(this).removeClass('up');
                    $('#flBoxDown span').text('展开');
                    $('#flBoxDown  b').removeClass('caret-down');
                    $('#flBoxDown  b').addClass('caret');
                } else {
                    a.slideDown('fast').show();
                    $(this).addClass('up');
                    $('#flBoxDown span').text('收起');
                    $('#flBoxDown  b').removeClass('caret');
                    $('#flBoxDown  b').addClass('caret-down');
                }
            });
        }
    });
</script>

<script>
    $.get("/about/detail/{{.artID}}", function (markdown) {

        testEditormdView = editormd.markdownToHTML("editormd-view", {
            markdown: markdown,//+ "\r\n" + $("#append-test").text(),
            htmlDecode: "style,script,iframe",  // you can filter tags decode
            tocm: true,    // Using [TOCM]
            emoji: true,
            taskList: true,
            tex: true,  // 默认不解析
            flowChart: true,  // 默认不解析
            sequenceDiagram: true  // 默认不解析
        });
    });
</script>

<i title="Raphaël Colour Picker" style="display: none; color: white;"></i>
</body>
</html>
{{end}}